@model ErrorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/login&signup/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/login&signup/css/style.css">
</head>
<body>
    <div class="main">
        <section class="Error">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Error</h2>
                        Cannot Your Request, Request Id:@Model.RequestId
                        <a href="#" class="signup-image-link">@Model.InnerException</a>
                        <a href="#" class="signup-image-link">@Model.Message</a>

                    </div>
                    <div class="signup-image">
                        <figure><img src="~/login&signup/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Sorry for the inconvenient</a>
                        <a href="#" class="signup-image-link">Contact to Developer: 7869346703</a>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="~/login&signup/vendor/jquery/jquery.min.js"></script>
    <script src="~/login&signup/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
