@section TotalItemsInCart
    {
    <div class="col-lg-3 col-6 text-right">
        <a href="" class="btn border">
            <i class="fas fa-heart text-primary"></i>
            <span class="badge">0</span>
        </a>
        <a href="/User/UserCartDetails" class="btn border">
            <i class="fas fa-shopping-cart text-primary"></i>
            <span class="badge" id="TotalItem">
                @*            @{
            string cartCounter = User.FindFirst(ClaimTypes.SerialNumber)?.Value;
            int values = string.IsNullOrEmpty(cartCounter) ? 0 : int.Parse(cartCounter);
            }
            @values*@
            0
            </span>
        </a>
    </div>
}

<div id="header-carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active" style="height: 410px;">
        <img class="img-fluid" src="" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="carousel-item" style="height: 410px;">
        <img class="img-fluid" src="" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
    <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-prev-icon mb-n2"></span>
    </div>
</a>
<a class="carousel-control-next" href="#header-carousel" data-slide="next">
    <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-next-icon mb-n2"></span>
    </div>
</a>
</div>
            

<script>
        // Function to update the cart counter value
        function updateCartCounter() {
            
            fetch("/User/GetCartCounter")
                .then(response => response.json())
                .then(data => {
                    // Update the value in the span element with the cart counter value
                document.getElementById("TotalItem").innerHTML = data;
                })
                .catch(error => {
                    console.error("Error fetching cart counter: ", error);
                });
        }

    window.onload = function () {
        // Call the updateCartCounter function when the page loads or refreshes
        updateCartCounter();
    };
</script>